body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #333;
  color: white; */
  text-align: center;
}

.current-month{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.blur-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Adjust blur intensity */
  background: rgba(255, 255, 255, 0.3); /* Optional semi-transparent overlay */
  z-index: 2; /* Ensure it's above everything */
}

